html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

* {
  margin: 30 0;
  padding: 0;
}
body {
    display: block;
    margin: 8px;
    background: black;
    justify-items: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
a {
    color: turquoise;
    justify-self: center;
}
.camp {
    max-width: 800px;
    height: auto;
}
video {
    object-fit: contain;
}

footer {
    text-align: end;
    margin: 50px;
}
